.comment-card {
  margin-top: 30px;
  .reply-title {
    display: inline-block;
    color: #b8b8b8;
    .nickname {
      margin-left: 20px;
    }
    .reply {
      margin-left: 20px;
      .reply-name {
        margin-left: 20px;
      }
    }
  }
  .avator {
    position: relative;
    top: 6px;
    font-size: 32px;
  }
  .message {
    margin-top: 10px;
    margin-left: 55px;
  }
}
